.container {
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 4rem;
}

.page-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.page-sub-title {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    padding-top: 2rem;
}

.carousel-content {
    display: flex;
    gap: 1.5rem;
    justify-content: start;
    overflow-x: auto;
    scroll-behavior: smooth;
    cursor: grab;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow-y: hidden;
    width: 100%;
}


.carousel-content::-webkit-scrollbar {
    display: none;
}

.publication {
    flex: 0 0 auto;
    width: 13rem;
    height: 19rem;
    border-radius: 0 0 15px 15px;
    background-color: var(--background);
    transition: transform 0.3s ease;
    text-align: center;
    overflow-y: hidden;
}


.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.pub-title {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.pub-date {
    font-size: 0.8rem;
}

.publication img {
    width: 100%;
    object-fit: contain;
}

.publication-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid var(--text);
    border-radius: 25px;
    background-color: var(--background);
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.publication-button:hover {
    background-color: var(--blue);
    color: var(--background);
    border: none;
}

.action-button {
    background-color: var(--green);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 3.25rem;
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.action-button:hover {
    background-color: var(--text);
    color: var(--green);
}

.action-button.prev {
    left: 10px;
}

.action-button.next {
    right: 10px;
}

.container-rede-socials {
    padding: 4rem 0 0 0;
    margin-bottom: 1rem;
}

.page-title2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.page-sub-title2 {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.publications-container {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.rede-social-card {
    flex: 0 0 15rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 15rem;
    height: 16rem;
    background-color: var(--background);
    overflow: hidden;
}

.rede-social-card img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rede-social-card-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem;
    gap: 0.3rem;
    color: inherit;
    text-decoration: none;
    text-align: left;
    background-color: var(--background);
    border-bottom: 1px solid var(--text);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
}

.rede-social-card-container h1 {
    font-size: 0.8rem;
    color: var(--blue);
}

.rede-social-card-container p {
    font-size: 0.6rem;
    color: var(--text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action-button2 {
    background-color: var(--blue);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 3.25rem;
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.action-button2:hover {
    background-color: var(--text);
    color: var(--blue);
}

.action-button2.prev {
    left: 10px;
}

.action-button2.next {
    right: 10px;
}

@media (max-width:1024px){
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .carousel-content {
        padding-left: 0;
        padding-right: 0;
    }

    .publication {
        min-width: 10rem; /* Define a largura mínima */
        height: 20rem;
        flex-shrink: 0; /* Previne que os itens encolham além do tamanho mínimo */
    }

    .carousel-container {
        padding-left: 0;
        padding-right: 0;
    }

    .action-button {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .action-button.prev {
        left: 5px;
    }

    .action-button.next {
        right: 5px;
    }

    .container-rede-socials {
        padding: 5rem 0 0 0;
    }

    .rede-social-card {
        width: 10rem;
        height: 12rem;
    }

    .rede-social-card img {
        height: 8rem;
    }

    .rede-social-card-container h1 {
        font-size: 0.6rem;
    }

    .rede-social-card-container p {
        font-size: 0.4rem;
    }

    .action-button2 {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .action-button2.prev {
        left: 5px;
    }

    .action-button2.next {
        right: 5px;
    }
}
